@media screen and (max-width: 560px){

    header{
        flex-direction:left;
    }

    main{
        flex-direction: left;
    }
  h1{

    text-align:center ;
  }

    h2{
        font-size: 24px;
        text-align: center;
       
      
        
    }
  h4{

    text-align: center;
  }

    form{   
        margin:0%;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }

    ul{
        text-align: left;
    }
}