body{
    background-color: rgb(3, 2, 2);
    color:white;
    font-family: poppinsregular;
    max-inline-size: 1200px;
    margin: auto;
    padding: 0px;

}

header{

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;


}

#title {
    flex-direction: column;
    line-height: 20px;
}
li{
    display: inline-block;
    margin: 20px;
}

a{
    color: rgb(255, 255, 255);

}

a:hover{
    color: rgb(201, 14, 14);
    transition: 0,3s all;
}

#Inscreva-se-btn{
    border: 3px solid rgb(201, 14, 14);
    padding:  10px;
    border-radius: 30px;

}
#Inscreva-se-btn:hover{
    background-color: rgb(201, 14, 14);
    color:white


}


h1{
    font-weight: 100px;
     color: white;

}
.h1color h1{
  
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    margin-block-start: 50px;

}

h2{
  
    block-size: 60px;
    line-height: 25px;
    
}

h2{
    color:  rgb(201, 14, 14);

}

p{
    line-height: 20px;
    max-inline-size: 500px;
    font-family: poppinslight;

}

img{
    inline-size: 450px;


}

form{

    display: flex;
    flex-direction: column;
    inline-size: 70%;

}

form [type="submit"]{
    block-size: 50px;
    inline-size: 50%;
    background-color: rgb(201, 14, 14);
    color: white;
    font-weight: bold;


}

form [type="submit"]:hover{
    cursor: pointer;


}


input{
    margin-block-start: 20px;
    block-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: Nome;
    font-size: 15px;



}
